################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mini Market Place
/Mini Market Place/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0
/Mini Market Place/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1
/Mini Market Place/bin/Debug/netcoreapp3.1/runtimes
/Mini Market Place/bin/Debug/netcoreapp3.1/cs
/Mini Market Place/bin/Debug/netcoreapp3.1/de
/Mini Market Place/bin/Debug/netcoreapp3.1/es
/Mini Market Place/bin/Debug/netcoreapp3.1/fr
/Mini Market Place/bin/Debug/netcoreapp3.1/zh-Hant
/Mini Market Place/bin/Debug/netcoreapp3.1/zh-Hans
/Mini Market Place/bin/Debug/netcoreapp3.1/tr
/Mini Market Place/bin/Debug/netcoreapp3.1/ru
/Mini Market Place/bin/Debug/netcoreapp3.1/pt-BR
/Mini Market Place/bin/Debug/netcoreapp3.1/pl
/Mini Market Place/bin/Debug/netcoreapp3.1/ko
/Mini Market Place/bin/Debug/netcoreapp3.1/ja
/Mini Market Place/bin/Debug/netcoreapp3.1/it
